:root {
  --default-font-size: 16px;
  --max-width: 1200px;
  --default-transition: all ease-out .25s;
  --modal-transition: all ease-in-out .35s;
  --radial-gradient-bg: radial-gradient(86.56% 115.41% at 20.09% 53.71%, #2C35A2 1%, #252C88 16%, #1B2167 40%, #15194F 62%, #101540 83%, #0F133B 100%);
  --logo-size: 43px;
  --black: #040404;
  --gray: #8B8B8B;
  --light-blue: #6DE0F6;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* now it won't affect containers' width and won't change containers' actual size */
}

*:not(input) {
  caret-color: transparent;
}

.body {
  display: flex;
  justify-content: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: var(--default-font-size);
  letter-spacing: 0.02em;
  color: #fff;
  line-height: 1.2;
  background: var(--radial-gradient-bg) no-repeat center center fixed;
  overscroll-behavior-y: none;
}

.body a {
  color: #fff;
}

a:focus,
button:focus,
input:focus,
select:focus {
  outline: 0;
}

input:disabled, textarea:disabled, input:disabled::placeholder, textarea:disabled::placeholder {
  -webkit-text-fill-color: currentColor; /* 1. sets text fill to current `color` for safari */
  opacity: 1; /* 2. correct opacity on iOS */
}

input:focus {
  caret-color: var(--black);
}










/* header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-bottom: 2rem;
  width: 100%;
}

.header__dimmed-effect {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 7rem;
  background: #0F133B;
  opacity: 0;
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.header__dimmed-effect.off {
  opacity: 0;
}

.header__dimmed-effect.on {
  opacity: 0.97;
}

.header__wrapper,
.header__brand,
.header__brand-link,
.header__menu,
.header__menu-list,
.header__buttons {
  display: flex;
  flex-wrap: wrap;
}

.header__wrapper {
  margin-inline: auto;
  padding-top: 2.25rem;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: var(--max-width);
}

.header__brand-link {
  flex-direction: row;
}

.header__brand-link,
.header__menu-list > li > a {
  text-decoration: none;
}

.header__brand-logo {
  margin-right: 1rem;
  width: var(--logo-size);
  height: var(--logo-size);
  background: url("../imgs/svg/cryptosale-logo.svg") no-repeat;
}

.header__brand-name {
  vertical-align: middle;
  margin: 0;
  font-size: 1.375rem;
  line-height: var(--logo-size);
  color: var(--light-blue);
}

.header__menu-list {
  margin: 0;
  gap: min(2vw, 2.25rem);
  line-height: var(--logo-size);
}

.header__menu-list > li > a,
.header__sign-up-button,
.header__login-button,
.header__burger-menu-button {
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.header__menu-list > li > a:hover, 
.header__menu-list > li > a:active,
.header__sign-up-button:hover,
.header__sign-up-button:active,
.header__burger-menu-button:hover,
.header__burger-menu-button:active {
  color: #CEEDFF;
  opacity: 0.8;
}

.header__buttons {
  height: var(--logo-size);
  align-items: center;
}

.header__sign-up-button {
  margin-right: min(3rem, 1.5vw);
  border-radius: 20px;
  width: 146px;
  height: 38px;
  background: var(--light-blue);
}

.header__sign-up-button:hover,
.header__sign-up-button:active {
  color: initial;
}

.header__login-button {  
  width: 105px;
  height: 38px;
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
}

.header__login-button:hover,
.header__login-button:active {
  background-color: rgba(206, 237, 255, 0.15);
}

.header__burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--logo-size);
  height: var(--logo-size);  
}

.header__burger-menu-button {
  width: 30px;
  height: 30px;
  background: url("../imgs/svg/burger-menu.svg") no-repeat;
}





/* responsive header styles */
@media screen and (max-width: 767px) {
  .header__brand-logo {
    margin-right: 0;
  }

  .header__brand-name {
    display: none;
  }

  .header__menu {
    display: none;
  }

  .header__sign-up-button {
    margin-right: 0;
    width: 35vw;
  }

  .header__login-button {
    display: none;
  }

  .header__burger-menu {
    display: flex;
  }
}

@media screen and (min-width: 768px) { 
  .header__brand-logo {
    margin-right: 1rem;
  }

  .header__brand-name {
    display: flex;
  }

  .header__menu {
    display: none;
  }

  .header__buttons {
    position: absolute;
    right: clamp(100px, 10%, 10vw);
  }

  .header__burger-menu {
    display: flex;
  }
}

@media screen and (min-width: 1080px) { 
  .header__menu {
    display: flex;
  }

  .header__menu-list > li:first-child {
    display: none;
  }

  .header__buttons {
    position: relative;
    right: 0;
  }

  .header__burger-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-list > li:first-child {
    display: flex;
  }
}









/* burger menu styles */
.header__burger-menu-window {
  position: fixed;
  z-index: 666;
  /* padding-top: 150px; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: var(--modal-transition);
  -moz-transition: var(--modal-transition);
  -ms-transition: var(--modal-transition);
  -o-transition: var(--modal-transition);
  transition: var(--modal-transition);
}

.header__burger-menu-window.off {
  opacity: 0;
}

.header__burger-menu-window.off > .burger-menu-window__content {
  margin-right: -100%;
}

.header__burger-menu-window.invisible {
  display: none;
}

.header__burger-menu-window.on {
  opacity: 1;
}

.header__burger-menu-window.on > .burger-menu-window__content {
  margin-right: 0;
}

.header__burger-menu-window.visible {
  display: block;
}

.burger-menu-window__content {
  position: relative;
  float: right;
  width: max(274px, 40%);
  height: 100%;
  background-color: #CEEDFF;
  padding: 1.25rem;
  -webkit-transition: var(--modal-transition);
  -moz-transition: var(--modal-transition);
  -ms-transition: var(--modal-transition);
  -o-transition: var(--modal-transition);
  transition: var(--modal-transition);
}

.burger-menu-window__content > div {
  margin-top: 4.5rem;
  padding-left: 2.375rem;
}

.burger-menu-window__close {
  position: absolute;
  left: 80%;
  top: 40px;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--black);
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.burger-menu-window__close:hover,
.burger-menu-window__close:focus {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.burger-menu-window__login {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  height: 3rem;
}

.burger-menu-window__userhead {
  margin-right: 1rem;
  margin-bottom: 2.5rem;
  width: 3rem;
  height: 3rem;
  background: url("../imgs/svg/userhead.svg") no-repeat;
}

.burger-menu-window__menu-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.burger-menu-window__login > a,
.burger-menu-window__menu-list > li > a {
  font-size: 1.1rem;
  color: var(--black);
  text-decoration: none;
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.burger-menu-window__login-link {
  line-height: 3rem;
}

.burger-menu-window__menu-list > li > a {
  gap: 1.125rem;
}

.burger-menu-window__login > a:hover,
.burger-menu-window__login > a:active,
.burger-menu-window__menu-list > li > a:hover, 
.burger-menu-window__menu-list > li > a:active {
  color: #D4088C;
}
















.main {
  position: relative;
  margin-top: 8rem;
  width: 100%;
}

/* exchange section styles */
.main__exchange {
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "exchange illustration";
  width: 90%;
  max-width: var(--max-width);
}

.exchange__form,
.exchange__illustration {
  margin: 0;
}

.exchange__form {
  grid-area: exchange;
}

.exchange__illustration {
  grid-area: illustration;
  background: url("../imgs/svg/exchange-illustration.svg") no-repeat;
  background-size: contain;
}

h2.exchange__title {
  margin-block: 0 1rem;
  font-family: 'Montserrat';
  font-size: clamp(2rem, 3vw, 3rem);
  font-style: normal;
  font-weight: 700;
}

h3.exchange__subtitle {
  margin-block: 0 1rem;
  font-size: 1.15rem;
  font-weight: 400;
}

.exchange__grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "give receive"
    "rate commission"
    "button button"
    "agree agree";
}

.exchange__give {
  grid-area: give;
  width: 300px;
}

.exchange__receive {
  grid-area: receive;
  width: 280px;
}

.exchange__rate,
.exchange__commission {
  display: grid;
}

.exchange__rate {
  grid-area: rate;
  display: flex;
  flex-wrap: wrap;
}

.exchange__rate-output,
.exchange__commission-output {
  display: flex;
}

.exchange__commission {
  grid-area: commission;
}

.exchange__swap-container {
  position: relative;
  transform: translateY(80px);
  width: 1.25rem;
  height: 1rem;
}

.exchange__swap {
  padding: 0;
  width: 1.25rem;
  height: 1rem;
  vertical-align: super;
  background: url("../imgs/svg/arrows.svg") no-repeat;
  cursor: pointer;
}

.exchange__give label,
.exchange__receive label,
.exchange__rate h4,
.exchange__rate p,
.exchange__commission h4,
.exchange__commission p {
  display: block;
  margin-bottom: .3125rem;
  font-size: .875rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.exchange__rate h4,
.exchange__commission h4 {
  width: 100%;
}

.exchange__rate p,
.exchange__commission p {
  margin-top: .125rem;
  line-height: 1.2;
  font-size: 1.125rem;
}

.exchange__rate-currency-1,
.exchange__rate-currency-2,
.exchange__comission-currency {
  color: var(--gray);
}

.exchange__given-currency-input,
.exchange__received-currency-input,
.exchange__given-currency-selector,
.exchange__received-currency-selector {
  margin-bottom: 1.25rem;
  border: 0;
  outline: 0;
  border-radius: 4px;
  width: 280px;
  height: 42px;
  font-family: inherit;
  background-color: #CEEDFF;
}

.exchange__given-currency-input,
.exchange__received-currency-input {
  margin-right: 12px;
  padding-left: 12px;
}

/* iOS disabled bug fix */
.exchange__received-currency-input,
.exchange__received-currency-input:disabled {
  -webkit-text-fill-color: var(--black);
  opacity: 1;
}

.exchange__given-currency-selector,
.exchange__received-currency-selector {
  padding-left: 12px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #CEEDFF url("../imgs/svg/dropdown.svg") no-repeat;
  background-position: right 1rem top 55%;
  cursor: pointer;
}

.exchange__given-currency-selector:invalid:not(:disabled),
.exchange__received-currency-selector:invalid:not(:disabled) {
  color: var(--gray);
}

.exchange__button-container {
  display: grid;
  grid-area: button;
  justify-items: center;
}

.exchange__button {
  margin-block: 1.7rem;
  margin-inline: auto;
  border-radius: 28px;
  width: clamp(240px, 50vw, 370px);
  height: 3rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: #D4088C;
  color: #fff;
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.exchange__button:hover,
.exchange__button:active {
  opacity: 0.8;
}

.exchange__button:disabled {
  background-color: #D4088C;
  color: #fff;
}

.exchange__button:disabled:hover {
  opacity: 1;
}

.exchange__agreement {
  display: flex;
  grid-area: agree;
  justify-content: center;
  width: 100%;
}

.exchange__agree-checkbox {
  display: none;
}

.exchange__agree-label {
  transform: translate(0, 1px);
  margin-right: .5rem;
  border: 1px solid #CBCBCB;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  caret-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.exchange__agree-checkbox:checked ~ .exchange__agree-label {
  background: url("../imgs/svg/checked.svg") no-repeat center;
}





/* exchange section responsive styles */
@media screen and (max-width: 375px) {
  .exchange__agreement p {
    padding-top: 2px;
    font-size: .8rem;
  } 
}

@media screen and (max-width: 767px) { 
  .main__exchange {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "exchange";
  }

  .exchange__title,
  .exchange__subtitle {
    text-align: center;
  }

  .exchange__subtitle {
    margin-top: 1.5rem;
  }

  .exchange__grid-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
      "give"
      "receive"
      "commission"
      "rate"
      "button"
      "agree";
    justify-items: center;
  }

  .exchange__rate,
  .exchange__commission,
  .exchange__given-currency-input,
  .exchange__received-currency-input,
  .exchange__given-currency-selector,
  .exchange__received-currency-selector {
    width: clamp(270px, 70%, 370px);
  }

  .exchange__give,
  .exchange__receive {
    display: grid;
    width: 100%;
  }

  .exchange__give,
  .exchange__receive,
  .exchange__rate,
  .exchange__commission {
    justify-items: center;
  }

  .exchange__rate h4,
  .exchange__commission h4 {
    text-align: center;
  }

  .exchange__give label,
  .exchange__receive label {
    margin-bottom: calc(.3125rem * 3);
  }

  .exchange__given-currency-input,
  .exchange__received-currency-input,
  .exchange__given-currency-selector,
  .exchange__received-currency-selector {
    height: 3rem;
  }

  .exchange__given-currency-input,
  .exchange__received-currency-input {
    margin-right: 0;
  }

  .exchange__given-currency-selector {
    margin-bottom: 3rem;
  }

  .exchange__commission {
    margin-block: 1rem;
  }

  .exchange__rate {
    margin-bottom: 2rem;
  }

  .exchange__rate-output,
  .exchange__commission-output {
    margin-inline: auto;
  }

  .exchange__swap-container {
    left: calc(50% - 8px);
    transform: translateY(185px);
  }

  .exchange__swap {
    transform: rotate(90deg);
  }

  .exchange__button {
    margin-top: 0;
  }

  .exchange__illustration {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main__exchange {
    grid-template-areas: "exchange exchange";
  }

  .exchange__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .exchange__grid-wrapper {
    max-width: 580px;
    margin-inline: auto;
  }

  .exchange__title,
  .exchange__subtitle {
    text-align: center;
  }

  .exchange__subtitle {
    margin-top: 1.5rem;
  }

  .exchange__swap-container {
    left: calc(50% - 10px);
  }

  .exchange__illustration {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main__exchange {
    grid-template-areas: "exchange illustration";
  }

  .exchange__form {
    width: 580px;
  }

  .exchange__title,
  .exchange__subtitle {
    text-align: left;
  }

  .exchange__illustration {
    display: inline-grid;
  }
}










/* modal window styles */
.modal-window {
  position: fixed;
  z-index: 666;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: var(--modal-transition);
  -moz-transition: var(--modal-transition);
  -ms-transition: var(--modal-transition);
  -o-transition: var(--modal-transition);
  transition: var(--modal-transition);
}

.modal-window.off {
  opacity: 0;
}

.modal-window.invisible {
  display: none;
}

.modal-window.on {
  opacity: 1;
}

.modal-window.visible {
  display: block;
}

.modal-window__content {
  background-color: #CEEDFF;
  margin: auto;
  padding: 1.25rem;
  width: clamp(450px, 50%, 800px);
}

.modal-window__close {
  position: relative;
  float: right;
  top: -10px;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--black);
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.modal-window__close:hover,
.modal-window__close:focus {
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
}

.modal-window__text {
  padding-left: .625rem;
  padding-block: 2.5rem 1.25rem;
  font-size: 1.4rem;
  color: var(--black);
}





/* modal window responsive styles */
@media screen and (max-width: 767px) { 
  .modal-window {
    padding-top: 0;
  }

  .modal-window__content {
    background-color: #CEEDFF;
    margin: 0;
    padding: 1.25rem;
    padding-top: 185px;
    width: 100%;
    height: 100%;
  }

  .modal-window__close {
    right: 5%;
    top: -145px;
  }

  .modal-window__text {
    margin: auto;
    width: 70%;
  }
}








/* latest applications section styles */
.main__latest-applications {
  display: block;
  margin-top: 6rem;
  transform: skewY(2deg);
  background: #CEEDFF;
}

.latest-applications__wrapper {
  position: relative;
  transform: skewY(-2deg);
  margin-inline: auto;
  width: 90%;
  max-width: var(--max-width);
}

.latest-applications__wrapper h2 {
  padding-top: 3rem;
  margin-bottom: 3.5rem;
  width: 100%;
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--black);
}

.latest-applications__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.latest-applications__app {
  position: relative;
  width: 100%;
  margin-bottom: 4rem;
}

.latest-applications__app > div {
  display: flex;
  justify-content: center;
}

.latest-applications__app h3,
.latest-applications__app p,
.latest-applications__app span {
  color: var(--black);
  text-align: center;
}

.latest-applications__app h3,
.latest-applications__app span {
  font-size: 1.125rem;
  line-height: 1.2;
}

.latest-applications__app h3 {
  margin-bottom: 1.25rem;
  width: 100%;
}

.latest-applications__app p {
  font-size: 1.375rem;
  font-weight: 600;
}

.latest-applications__app span {
  font-weight: 400;
}

.latest-applications__swap {
  margin-inline: 1.5rem;
  padding: 0;
  width: 1.25rem;
  height: 1.65rem;
  background: url("../imgs/svg/black-arrows.svg") no-repeat center;
}





/* latest applications section responsive styles */
@media screen and (max-width: 767px) { 
  .latest-applications__grid {
    grid-template-columns: 1fr;
  }

  .latest-applications__app {
    max-width: 90%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 991px) { 
  .latest-applications__wrapper h2 {
    margin-top: 3rem;
    text-align: center;
  }

  .latest-applications__app > div {
    flex-direction: column;
  }

  .latest-applications__swap {
    margin-block: 0.625rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 992px) {
  .latest-applications__wrapper h2 {
    text-align: left;
  }

  .latest-applications__grid {
    grid-template-columns: 1fr 1fr;
  }
}





/* slider styles */
.latest-applications__slider-buttons {
  display: none;
  position: relative;
  top: -3rem;
  margin-inline: auto;
  margin-block: 2rem;
  justify-content: space-between;
  width: 5rem;
  height: .6rem;
}

.slider-buttons__radio {
  position: absolute;
  width: .6rem;
  opacity: 0;
}

.slider-buttons__label {
  position: relative;
  width: .6rem;
  cursor: pointer;
}

.slider-buttons__label > span {
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.slider-buttons__button {
  position: absolute;
  height: .6rem;
  width: .6rem;
  background-color: var(--gray);
  border-radius: 50%;
}

.slider-buttons__label .slider-buttons__radio:checked ~ span {
  background-color: var(--light-blue);
}

@media screen and (max-width: 767px) { 
  .latest-applications__slider-buttons {
    display: flex;
  }

  .latest-applications__app:not(.active-slide) {
    display: none;
  }

  .latest-applications__app.animate-slide {
    animation: appear-from-right .35s forwards;
  }
}

@keyframes appear-from-right {
  0% {
    right: -10%;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}










/* footer styles */
.footer {
  position: relative;
  margin-top: 6rem;
  padding-bottom: 3rem;
  width: 100%;
  height: auto;
  background-color: #323232;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr 4fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "brand popular menu buttons";
  margin-inline: auto;
  width: 90%;
  max-width: 1200px;
}

.footer__brand,
.footer__popular-directions,
.footer__menu,
.footer__buttons {
  margin-top: 3.125rem;
}

.footer__brand {
  grid-area: brand;
  margin-right: 2rem;
}

.footer__brand-logo {
  width: var(--logo-size);
  height: var(--logo-size);
  background: url("../imgs/svg/cryptosale-logo.svg") no-repeat;
}

.footer__brand-name {
  position: relative;
  bottom: var(--logo-size);
  left: 3.5rem;
  margin: 0;
  width: 10ch;
  font-size: 1rem;
  line-height: var(--logo-size);
  max-height: var(--logo-size);
  color: var(--light-blue);
}

.footer__brand p {
  position: relative;
  bottom: 1.5rem;
  width: 16ch;
}

.footer__brand p::before {
  content: "©";
  position: absolute;
  left: -1rem;
}

.footer__popular-directions {
  grid-area: popular;
  width: 260px;
}

.footer__popular-directions h2 {
  margin-bottom: .75rem;
}

.footer__popular-directions > ul {
  list-style-type: disc;
  list-style: inside;
  padding-left: .5rem;
}

.footer__popular-directions > ul > li {
  font-size: 14px;
}

.footer__popular-directions > ul > li > a,
.footer__menu-list > li > a {
  text-decoration: none;
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.footer__popular-directions > ul > li > a:hover, 
.footer__popular-directions > ul > li > a:active,
.footer__menu-list > li > a:hover,
.footer__menu-list > li > a:active {
  opacity: 0.8;
  outline: 0;
}

.footer__menu {
  grid-area: menu;
  margin-inline: auto;
  width: 70%;
}

.footer__menu-list {
  column-width: 5rem;
  gap: 3rem;
}

.footer__menu-list > li {
  margin-bottom: .75rem;
  line-height: 1.2;
  font-size: 1rem;
}

.footer__buttons {
  grid-area: buttons;
  display: flex;
  justify-content: end;
}

.footer__sign-up-button,
.footer__login-button {
  -webkit-transition: var(--default-transition);
  -moz-transition: var(--default-transition);
  -ms-transition: var(--default-transition);
  -o-transition: var(--default-transition);
  transition: var(--default-transition);
}

.footer__sign-up-button {
  margin-right: min(3rem, 1.5vw);
  border-radius: 20px;
  width: 146px;
  height: 38px;
  background: var(--light-blue);
}

.footer__sign-up-button:hover,
.footer__sign-up-button:active {
  color: initial;
  opacity: 0.8;
}

.footer__login-button {  
  width: 105px;
  height: 38px;
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  color: #fff;
  background-color: transparent;
}

.footer__login-button:hover,
.footer__login-button:active {
  background-color: rgba(206, 237, 255, 0.15);
}





/* footer styles responsive styles */
@media screen and (max-width: 991px) {
  .footer__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "brand"
      "buttons" 
      "popular" 
      "menu";
    justify-items: center;
  }
  
  .footer__brand,
  .footer__menu {
    margin-right: 0;
  }

  .footer__brand {
    margin-left: 1rem;
  }

  .footer__popular-directions > ul {
    padding-left: 0;
  }

  .footer__popular-directions h2,
  .footer__popular-directions > ul > li,
  .footer__menu-list > li {
    text-align: center;
  }

  .footer__menu {
    width: 100%;
  }

  .footer__menu-list {
    column-count: 1;
  }

  .footer__buttons {
    margin-top: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer__sign-up-button,
  .footer__login-button {
    margin-right: 0;
    width: 35vw;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    grid-template-columns: 2fr 2fr 4fr 2fr;
    grid-template-areas: 
      "brand popular menu buttons";
  }
}